Source: liboptimization2-dispatchers-matlab
Priority: extra
Maintainer: Jesse van den Kieboom <jesse.vandenkieboom@epfl.ch>
Build-Depends: debhelper (>= 7),
               autotools-dev,
               cdbs,
               pkg-config,
               liboptimization2-dev (>= 2.4),
               openjdk-6-jdk,
               libprotobuf-java,
               protobuf-compiler
Standards-Version: 3.8.0
Section: science
Homepage: http://biorob.epfl.ch

Package: liboptimization2-dispatchers-matlab
Section: science
Architecture: any
Depends: libprotobuf-java
Description: Optimization external dispatcher
 Optimization dispatcher for external applications
